* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #506690;
}
body {
    width: 100%;
}
/* header {
    width: 100%;
    background: #FFFFFF;
    line-height: 80px;
    
} */



/* css + reponsive header */

 header {
   height: 80px;
   width: 100%;
   /* background: #383232 url(../images/header-bg.jpg); */
   font-size: 16px;
}
.row {
    width: 96%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

/* header logo */
header .logo {
   position: absolute;
   left: 20px;
   top: 48px;
}
header .logo a {
   display: block;
   margin: 0;
	padding: 0;
	border: none;
	outline: none;
   width: 113px;
   height: 24px;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	position: relative;
   font: 16px raleway-bold, sans-serif;
   float: right;
   margin-top: 36px;
   margin-right: 20px;
   z-index: 99999;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
   display: none;
   border-radius: 3px;
}

ul#nav {
   min-height: 48px;
   width: auto;

   /* left align the menu */
   text-align: left;
}
ul#nav li {
	position: relative;
	list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 11px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #8a8383;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li:hover > a,
ul#nav li.current a { color: #fff; }

/* adds down arrow */
ul#nav span:after {
   width: 0;
	height: 0px;
	border: 4px solid transparent;
	border-bottom: none;
	border-top-color: #8a8383;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: 5px;
}

/* Sub Menu
----------------------------------------------------- */
ul#nav ul {
   position: absolute;
   top: 100%;
   left: 0;
	background: #1f2024;
   min-width: 100%;

	border-radius: 0 0 3px 3px;

   /* for transition effects */
   opacity: 0;
   filter: alpha(opacity=0);

	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

/* Third level sub menu
ul#nav ul ul {
	position: absolute;
	top: 0;
	left: 100%;

	border-radius: 0 3px 3px 3px;
}
*/

ul#nav ul li {
   padding: 0;
   display: block;
   text-align: left;

   /* for transition effects */
   height: 0;
	overflow: hidden;

  	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

/*On Hover */
ul#nav li:hover > ul { opacity: 1; filter: alpha(opacity=100); }
ul#nav li:hover > ul li {
	height: 42px;
	overflow: visible;
   border-bottom: 1px solid #26272C;
}
ul#nav li:hover > ul li:last-child  { border: none; }

/* Sub Menu Anchor links */
ul#nav ul li a {
	padding: 6px 15px;
	margin: 0;
   white-space: nowrap;
   font-size: 13px;
}






/* end css + reponsive header */

/* control lề  */

.mobile {
    padding-left: 20px;
}



.nav {
    margin: 0 auto;
    line-height: 80px;
}

.wp-inner {
    margin: 0 auto;
    width: 1024px;
}
.flex {
    display: flex;
}

ul.sub-menu {
    
  display: none;
  position: absolute;
  background-color:red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.logo {
    width: 86px;
    height: 19px;
    color: #335eea;
    font-size:1.5rem;
    font-weight: 600;
}
ul.menu li {
    
    line-height: 80px;
    font-size: 18px;
    padding: 5px 25px;
  
}
ul.menu li a:hover {
    position: relative;
    color: #335eea;
}

ul.menu li a:hover ul.sub-menu {
  display: block;
  border: 1px solid red;
  background: red;
  width: 200px;
  height: 100px;
}

.button {
    line-height: 80px;
  
}
.button a {
    padding: 10px 35px;
    background-color: #335eea;
    border-radius: 7px;
    color:#fff;
    font-size: 20px;
}

/* End Header  */


/* reponsive Header  */






/* Content */
/* 624 413 */
/* 506690 */


/* anh lề m mobile */

   
/* canh lề mobile */
#wp-main-content {
    margin-top: 50px;
    
}

.content-1-left {
    width: 50%;
}

.content1-title {
    max-width: 80%;
}
.content1-title p {
    line-height: 1.2;
    font-size: 3rem;
}

.content1-desc {
    max-width: 80%;
    margin: 15px 0px;
}

.content1-desc p {
    color: #869ab8!important;
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 1.5;
}




/* .content1-button   */



.content-1-right {
    width: 50%;
}

.content-1-right {
    width: 50%;
}

.content-1-right img{
    max-width: 100%;
}
.view-in-page:nth-child(1){
    margin: 0;
}
.view-in-page:nth-child(2){
    background: none;
    color: #335eea;
}
a.view-in-page{
        padding: 15px 28px;
    border: 1px solid white;
    border-radius: 5px;
    background: #335eea;
    color: white;
    font-size: 22px;
    margin: 0 15px;
}
a.view-in-page:hover {
    transform: translateY(-2px);
    transition: all 0.3s;
}
/* .content-1-left {
    float: left;
    width: 480px;
}

.content1-title {
    line-height: 1.2;
    padding-bottom: 20px;
}
.content1-title p {
    font-size: 2.5rem;
    color: black;
}



.content-1-right {
    float: right;
}

.content-1-right img{
    width: 624px;
    height: 413px;
}

.content1-desc  {
    padding-bottom: 40px;
}
.content1-desc p{
    color: #869ab8;
    font-size: 1.3125rem;
    font-weight: 200;
    line-height: 30px;
}
.view-in-page {
    
    
    background: #335eea;
    line-height: 30px;
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 22px;
    margin-right: 50px;
}

.view-in-page a {
    color: white;
}

.document {
    line-height: 30px;
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 22px;
    margin-right: 50px;
} */

.content-2 {
    margin: 5rem auto;
}
.wp-item {
    justify-content: center;
}
.item {
    flex: 30%;
    flex-grow: 1;
}

.toggle svg {
    width:40px ;
    height:40px;
}
.content-2-title {
    line-height: 1.4;
    font-size: 1.3125rem;
    color: #161c2d;
}
.content-2-desc {
    line-height: 1.6;
    font-size: 1.0625rem;
    color: #869ab8!important;
    font-family: HKGroteskPro,serif;
}


/* end content-2 */

.content-3 {
    display: flex;
    justify-content: center;

}
.icon-item svg{
    width: 80%;
}
.icon-item svg {
    max-width: 100%;
    /* font-size: 1rem; */
}
.icon-item svg path {
    color: #869ab8!important;
}

/* end content -3  */


.form-img{
    width: 50%;
    border: 1px solid white;
    margin: 30px 20px;
    
}
.form-img img {
    max-width: 80%;
    border-radius: 5px;
}
.form-img:hover {
    transform: translateY(-8px);
    transition: all 0.3s;
}
form.form1 {
    padding: 30px 10px;
    width: 80%;
}
input {
    width: 100%;
    border: none;
    line-height: 50px;
    
}
 ::placeholder{
    color: #869ab8!important;
    padding: 7px 15px;
    font-size: 1rem;
}

input:hover {
    background: gray;
    border-radius: 5px;
    
}
.button-dowload {
    text-align: center;
}

.button-dowload a {
    color: white;
}


.side-bar-4 {
    width: 50%;
    
}
.item-sidebar-4 {
    padding-top: 20%;
}
.title-sidebar {
    font-size: 2rem;
    line-height: 0.8;
}
.title-sidebar p {
    font-family: HKGroteskPro,serif;
    margin-bottom: 1rem;
    
    color: #161c2d;
}
.title-sidebar p.color {
    color: #42ba96;
}

.sidebar-desc {
    line-height: 1.5rem;
    font-size: 1.2rem;
     margin-bottom: 1rem;
     color: #869ab8!important;
}
.side-bar-list li {
    padding: 20px 40px;
    line-height: 2rem;
    color: #42ba96;
    font-size: 1.2rem;

}
.side-bar-list li  i{
    padding: 0 7px;
    color: #42ba96;
}


/* content 5 */
.content-5 {
   
    
}

.ct5-img img{
    max-width: 100%;
    -webkit-transform: rotateY(-35deg) rotateX(15deg);
    transform: rotateY(-35deg) rotateX(15deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.content-5-main {
    width: 50%;
    float: left;
}
.content-5-sidebar {
    width: 50%;
    
}
.content-5-title {
    line-height: 40px;
    font-size: 32px;
    font-weight: inherit;
    margin-bottom: 20px;
    

}
.content-5-title p {
    color: #161c2d;
}
.content-5-title > p.color22 {
    color: #335eea !important;
}
.content-5-desc p{
    color: #869ab8;
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 20px;
}
.offer .icon-right {

}


/* css reponsive header */

.bars {
   margin-left: 232px;
   font-size: 30px;
   display: none;
}

#nav_input-mobile{
    font-size: 40px;
    display: none
}
.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
   display: none;
}


.icon-svg {
    margin-right: 20px;
    
}

.icon-right {
    width: 500px;
}

.offer {
    margin-bottom: 20px;
}

.icon-svg .icon {
    
}

.icon-right-title {
    font-size: 24px;
}

.icon-right-desc {
    font-size: 18px;
    padding-top: 10px;
    color: #869ab8;
}

.clearfix {
    clear: both;
}


/* end ct-5 */

.ct-6 {
    margin-top: 30px;
   
}
.ct-6-title {
    line-height: 80px;
    text-align: center;

}
.ct-6-title  h2 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #161c2d;
    padding: 7px 7px;
}

.ct-6-desc {
        line-height: 28px;
    text-align: center;
}
.ct-6-desc p {
    font-size: 1.1875rem;
    color: #869ab8;
}

.carousel {
    margin-top: 5%;
}
.images-carousel {
    width: 50%;
    
    border-radius: 10px 177px 371px 10px;

}
.images-carousel a img {
    max-width: 100%;
    border-radius: 5px;
}
.right-carousel {
    width: 50%;
    padding-top: 10%;
        padding-left: 10%;
    
}
.cr-title{
    text-align: center;
    line-height: 80px;  
}
.cr-title svg path{
    color: red !important;
}

.cr-desc {
    text-align: center;
    transition: all 0.5s;
    
   
}
.cr-desc p {
    font-size: 1.4rem;
}

.cr-last {
    text-align: center;
    margin-top: 20px;
    opacity: 0.5;
}

.cr-last p {
    font-size: 16px;
}

/* ct-7 */
.ct-7 {
    margin-top: 30px;
    display: none;
}

.ct-7-left {
    flex-basis: 480px;
}
.ct-7-right {
    flex-basis: 480px;
}


.ct-7-right img {
    width: 480px;
}


.ct-7-title {
    width: 480px;
    margin-bottom: 20px;
}
.ct-7-title p {
    font-size: 28px;
    line-height: 35px;
    font-weight: inherit;
    color: rgb(22, 28, 45);
    font-family:sans-serif
}


.ct-7-desc {
    width: 480px;
    margin-bottom: 20px;
}


.ct-7-desc p {
    line-height: 25px;
    font-size: 18px;

}
p.ct-7-title-color {
    color: #007bff;
}
/* .ct-7-item {
    flex-direction: column;
} */


.ct-7-item {
    width: 110px;
    border-right: 1px solid gainsboro;
    margin-right: 30px;
}

.flex-ct-7 {
    padding: 5px 7px;
    line-height: 25px;
    font-size: 17px;
}

.flex-ct-7:nth-child(1) {
    font-size: 30px;
}


/* end ct-7 */





.ct-8 {
    margin-top: 10%;
    text-align: center;
    
    
}

.ct-8-title {
    justify-content: center;
    font-size: 1.7rem;
    line-height: 1.3;
    font-family: Quicksand;
    
}
.ct-8-title h1 {
    color: #161c2d;
}


.ct-8-desc {
        
        margin: 0 auto;
        font-size: 1.2rem;
        width: 654px;
        margin-top: 20px;
}
.ct-8-desc p {
    line-height: 28px;
    font-family: Quicksand;
}

.turn-on {
    justify-content: center;
    margin-top: 20px;
}

.turn-item {
    padding: 0px 16px;
}

/* rgb(134, 154, 184)  */

.turn-item {
    color:rgb(134, 154, 184);

    font-size: 22px;

}

.button-toggle i {
    color: grey;
    font-size: 22px;
    opacity: 0.4;
}

/* end ct-8 */

.ct-9 {
    margin-top: 90px;
    
    

}
.ct-9-one {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 50%;
    border: 1px solid white;
    margin-right: 4px;
    text-align: center;
}

.ct9-title {
    line-height: 40px;
    margin: 5px auto;
    font-size: 16px;
    color: rgb(51, 94, 234);
}


.ct9-prince {
    padding: 15px auto;
}
.dola {
    font-size: 30px;
    color: rgb(22, 28, 45);
    
}
.number {
    font-size: 65px;
    color: rgb(22, 28, 45);
}
.mo {
    font-size: 25px;
    color: rgb(22, 28, 45);
}


.per-seat {
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(134, 154, 184);
}
.list-ct-9 li{
    width: 60%;
   /* margin: 0 auto; */
   padding: 0;
}
.list-ct-9 li i{
    line-height: 0px !important;
    
    
}
.list-ct-9 li {
   
    padding-bottom: 25px;
    margin: 0 auto;
}
.list-ct-9  {
    
}
.list-ct-9 li span {
    color: #161c2d;;
}

/*  */


.btn-get-it {
    background: #007bff;
    line-height: 60px;
    color: #FFFFFF;
    margin-top: 40px;
}

.ct-9-two {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 50%;
    border: 1px solid white;
    
    text-align: center;
    height: 460px;
}

.ct9-two-title {
    line-height: 40px;
    margin: 5px auto;
    font-size: 16px;
    color: rgb(51, 94, 234);
}
.ct-9-two-desc {
    margin-top: 60px;
    width: 60%;
    margin: 0 auto;
    
    
}

/* font-size: 18px; */
.ct-9-two-desc p {
    margin-top: 135px;
    line-height: 25px;
    font-size: 18px;
    padding: 5px auto;
}

.btn-two-get-it {
    background: #d9e2ef!important;
    line-height: 60px;
    color: #506690!important;
    margin-top: 145px;
}


/* end ct-9 */



/* end ct-10 */
.ct-11 {
    width: 100%;
    background: #1b2a4e;
    margin-top: 100px;
    font-family: 'Quicksand';
    display: none;
    
   
}

.ct-11-content {
    margin: -100px auto;
    width: 693px;
    text-align: center;
    
}
.button-ct {
    
}

.button-ct a {
    line-height: 80px;
    font-size: 16px;
    padding: 7px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    background: #506690;
    color: white;
    
}
.ct-11-title {
    line-height: 80px;
    font-size: 32px;
    
}
.ct-11-title h1 {
    color: whitesmoke;
}

.ct-11-desc {
    padding-bottom: 20px;
}

.ct-11-desc p{
    line-height: 30px;
    font-size: 16px;
}
.buy-now {
    padding-bottom: 30px;
}


.buy-now span{
    line-height: 80px;
    font-size: 18;
    border:1px solid wheat;
    border-radius:5px ;
    padding: 15px 20px;
    color: white;
    background: #42ba96;
    font-weight: bold;
    
}
.buy-now span i {
    color: white;
}

.ct-12 {
    margin: 0 auto;
    width: 1024px;
    margin-top: 100px;
    display: none;
}

footer {
    
    width: 100%;
    background: #1b2a4e!important;
}

.ft-item {
    width: 50%;
    padding: 30px 0px;
}

.dot {
    margin-top: 10px;
        position: relative;
    line-height: 80px;
    /* font-size: 32px; */
    border-radius: 50%;
    background: #42ba96;
    width: 45px;
    height: 30px;
}

.dot span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}
.ft-list {
    padding-left: 5%;
}
.ft-list h2 {
    font-size: 1.2rem;
    color: white;
    line-height: 40px;
}

.ft-list p {
    font-size: 1rem;
    color:white;
    line-height: 20px;
}
.button-dowload {
    text-align: center;
    width: 100%;
    border: none;
    line-height: 50px;
}

.button-dowload {
    text-align: center;
    width: 100%;
    border: none;
    background: #42ba96;
    
    border-radius: 5px;
}


.ct-9 {
        padding-top: 10%;
    background: #f1f4f8;
    
}
.wp-container {
    max-width: 1024px;
    /* padding-left: 10%;
    padding-right: 10%; */
    margin: 0 auto;
}
.head-ct-9 {
    flex-direction: column;
    align-items: center;
}
.ct-9-title {
    line-height: 1.3;
    margin-bottom: 1rem;
    font-size: 2.3125rem;
    font-weight: 300;
}
.ct-9-desc {
    color: #506690;
    font-size: 1.3125rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.6;
    max-width: 590px;
}
.ct-9-btn {
    margin-bottom: 4rem;
    align-items: center;
}
.label {
        color: #869ab8;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6;
}
.switch {
      position: relative;
    display: inline-block;
    width: 58px;
    height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
      position: absolute;
    content: "";
    height: 20px;
    width: 26px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* color: #869ab8;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6; */


    .ct-9-btn .label {
        color: #869ab8;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6;
    }
    .check-box {
            padding: 0 5px;
    }
    .ct-price {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.1);
    border-radius: .5rem;
    background: #fff;
    margin-top: 25px;
    /* margin-bottom: 25px; */
    position: relative;
    z-index: 1;
}
    .ct-contact {
        width: 50%;
    }
    .form-iteem {
            box-shadow: 0 1.5rem 4rem rgba(22,28,45,.1);
    border-radius: .5rem;
    background: #fff;
    z-index: 2;
    }
    .ct-price-title {
        text-align: center;
    margin-bottom: 1.5rem;
    }

        .ct-price-title  span{
        background-color: rgba(51,94,234,.1);
    color: #335eea;
    padding-right: .75rem;
    padding-left: .75rem;
    border-radius: 10rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: .25rem .75rem;
    font-size: 75%;
    }
    .number {
        text-align: center;
    }
    .number .unit {
        line-height: 1.35;
    margin-top: .5rem;
    font-size: 1.9375rem;
    font-weight: 300;
    }
    .number .money {
        line-height: 1.2;
    font-size: 3.8125rem;
    font-weight: 400;
    }
    .number .month {
            line-height: 1.35;
    margin-top: .5rem;
    font-size: 1.9375rem;
    font-weight: 300;
    }
    .unit-per {
        text-align: center;
    font-weight: 300;
    color: #869ab8;
    margin-bottom: 3rem;
    font-size: 1.0625rem;
    line-height: 1.6;
    }
    .list-sumary {
        padding-bottom: 38px;
    }
    .item-list {
            margin-bottom: 1rem;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6;
    color: #161c2d;
    }
    .item-list i {
        background-color: rgba(66,186,150,.1);
    color: #42ba96;
    padding: .25rem;
    font-size: 10px;
    border-radius: 10rem;
    margin-right: 1rem;
    }
    .get-price-btn {
        color: #fff;
    background-color: #335eea;
    text-align: center;
    padding: 1.122rem 1.5rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    }

    .ct-contact {
            box-shadow: 0 1.5rem 4rem rgba(22,28,45,.1);
    border-radius: .5rem;
    background: #fff;
    margin-top: 25px;
    margin-bottom: 25px;

    position: relative;
    z-index: 1;
    }
    .item-contact {
       
    }
    .contact-item {
            text-align: center;
    margin-bottom: 6rem;
    }
    .contact-item  span{
        background-color: rgba(51,94,234,.1);
    color: #335eea;
    padding-right: .75rem;
    padding-left: .75rem;
    border-radius: 10rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: .25rem .75rem;
    font-size: 75%;
    }
    
    .sumary-contact {
            color: #869ab8;
    text-align: center;
    font-weight: 300;
    padding-bottom: 5rem;
    font-size: 1.3125rem;
    line-height: 1.6;
    }
.get-contact {
           position: absolute;
    bottom: 0;
    width: 100%;
}
.get-contact-btn {
    text-align: center;
    padding: 1.122rem 1.5rem;
    font-size: 1.0625rem;
    line-height: 1.6;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    background-color: #d9e2ef;
}
a {
        text-decoration: none;
}
.link-cost .form-button {
        color: #fff;
    background-color: #335eea;
    text-align: center;
    padding: 1.122rem 1.5rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.list-sumary {
    padding-bottom: 38px;
    /* margin: 0 auto; */
    /* text-align: center; */
    padding: 0 auto;
    width: 50%;
    margin: 0 auto;
}

.border-answers {
    position: relative;
    margin-top: -16rem;
}
.answers {
    background-color: #1b2a4e;
    padding-top: 16rem;
}
.answers .row {
    padding-top: 6rem;
}
.container {
    max-width: 1024px;
   
    margin: 0 auto;
}
.answers .col {
    width: 50%;
    padding: 0 20px;
}
.answers .form-group .form-icon span {
    color: #fff;
    background-color: #42ba96;
    border-radius: 50%;
    padding: 8px 12px;
    font-size: 75%;
    font-weight: 300;
}
.answers .form-group .form-text {
    margin-left: 1.5rem;
}
.answers .form-group .form-text .title {
    color: #fff;
    line-height: 1.45;
    font-weight: 300;
    font-size: 1.1875rem;
    margin-bottom: .5rem;
}
.answers .form-group .form-text .sumary {
    color: #869ab8;
    margin-bottom: 3rem;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6;
}

.buy-it {
        background: #1b2a4e;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.container-buy {
    max-width: 1024px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
}
.title-buy {
        margin-bottom: 1rem;
}
.buy-item {
        text-align: center;
}
.title-buy span {
        background-color: rgba(80,102,144,.1);
    color: #506690;
    text-transform: uppercase;
    border-radius: 10rem;
    padding: .25rem .75rem;
    font-size: 75%;
}
.head-desc-buy {
        line-height: 1.2;
    color: #fff;
    font-size: 2.6875rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
}
.body-desc-buy {
        font-size: 1.1875rem;
    color: #869ab8;
    margin-bottom: 3rem;
    line-height: 1.6;
    font-weight: 300;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
        margin-bottom: 10%;
}
.btn-buy {
         border-color: transparent;
    color: #fff;
    background-color: #42ba96;
    border: 1px solid transparent;
    padding: .8125rem 1.25rem;
    font-size: 1.0625rem;
    line-height: 1.6;
    border-radius: .375rem;
    width: 30%;
    margin: 0 auto;
}
.footer {
        background: #f1f4f8;
    padding-top: 6rem;
    padding-bottom: 6rem;   
    
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.footer .col-logo {
    width: 20%;
}
.footer .form-logo .logo {
    margin-bottom: .5rem;
}
.footer .form-logo .sumary {
    color: #506690;
    margin-bottom: .5rem;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6;
}
.footer .form-logo .icon {
    padding-bottom: 2rem;
}
.footer .form-logo .icon a {
    padding-right: .75rem;
    color: #869ab8;
    font-size: 21px;
}
.footer .col-content {
    width: 80%;
}
.footer .row-content .col {
    width: 50%;
}
.footer .row-content .col-item {
    width: 100%;
}
.footer .form-info {
    margin-bottom: 2rem;
}
.footer .form-info .title {
    color: #506690;
    line-height: 1.55;
    text-transform: uppercase;
    font-size: .75rem;
    margin-bottom: .5rem;
}
.footer .form-info .sumary {
    margin-bottom: .75rem;
}
.footer .form-info .sumary a {
    color: #869ab8;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6;
}
.footer .form-info .sumary {
    margin-bottom: .75rem;
}
.footer .form-info .sumary a {
    color: #869ab8;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.6;
}
.footer .row-content .col-item {
    width: 100%;
}
.footer .form-info {
    margin-bottom: 2rem;
}
.haba {
    display: none;
    flex-direction: column;
}





/*  header */
.header {
    padding: 20px 0px;
}
.header .logo {
    font-weight: 700;
    font-size: 24px;
    padding: 3px 0px;
}
.header .menu {
    display: flex;
    width: 100%;
}
.header .menu-header {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.header .menu .menu-list {
    list-style-type: none;
    display: flex;
    margin: 8px 0;
    margin-left: auto;
}
.header .nav-link {
    color: #506690;
    font-weight: 500;
    padding: 0px 24px;
}
.header .header-btn {
        background-color: #335eea;
    border-radius: .375rem;
    border-color: transparent;
    padding: .5625rem 1rem;
    margin-left: 12%;
}
.header .header-btn a {
    color: #fff;
    font-size: 1.0625rem;
    
}
.header .header-btn:hover {
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1);
    transform: translate3d(0,-3px,0);
}
.header .menu-btn {
    padding: .25rem .75rem;
    font-size: 1.1875rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .375rem;
    margin-left: auto;
    cursor: pointer;
}
.header .menu-btn i {
    color: #506690;
}
.header .dropdown-menu .form-group {
    padding: 1.625rem 1.75rem;
    width: 100%;
}
.header .dropdown-menu .title {
    line-height: 1.55;
    padding-bottom: .5rem;
    font-size: .75rem;
    color: #335eea;
    text-transform: uppercase;
}
.header .dropdown-menu .sumary {
    padding-bottom: 7px;
}
.header .dropdown-menu .sumary a {
    color: #506690;
    font-size: .9375rem;
    font-weight: 300;
}
.header .dropdown-menu .sumary a:hover {
    color: #335eea !important;
}
.header .account .drop-link1 {
    display: flex;
    color: #506690;
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.6;
    cursor: pointer;
}
.header .account .drop-link1 .drop-arrow {
    margin-left: auto;
}
.header .account .drop-link1 .drop-arrow span {
    font-size: 10px;
}
.header .account .drop-link1:hover {
    color: #335eea;
}
.header .account .dropdown-menu2 {
    display: none;
}
.header .account .dropdown-menu2 li {
    padding-bottom: 6px;
}
.header .account .dropdown-menu2 a {
    color: #506690;
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.6;
}
.header .account .dropdown-menu2 a:hover {
    color: #335eea;
}

.header .documentation .doc-link {
    display: flex;
    align-items: center;
}
.header .documentation .icon {
    padding-right: 15px;
}
.header .documentation .icon svg {
    width: 2.25rem;
    height: 2.25rem;
}
.header .documentation .sumary {
    color: #506690;
    font-size: .9375rem;
    font-weight: 300;
}
.header .documentation .boder-gray {
    border-top: 1px solid #f1f4f8;
    border-color: #d9e2ef!important;
    margin: 10px 0;
}
.header .documentation .label {
    margin-left: auto;
}
.header .documentation .label span {
    background-color: rgba(51,94,234,.1);
    color: #335eea;
    border-radius: 10rem;
    font-size: 75%;
    line-height: 1;
    padding: 3px 10px;
}
.header .landings .form-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/sub-menu.jpg);
    background-size: contain;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    position: relative;
}
.header .landings .form-img .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .landings .img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51,94,234,.8);
}
.header .landings .img .title {
    color: #fff;
    line-height: 1.45;
    font-size: 1.1875rem;
    padding-bottom: 0;
    text-transform: none;
    z-index: 1;
}
.header .landings .img .sumary {
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 1rem;
    z-index: 1;
}
.header .landings .img a {
    z-index: 1;
}
.header .landings .img .landings-btn span {
    background: #fff;
    color: #1c4ce8;
    padding: .5625rem 1rem;
    font-size: 1.0625rem;
    line-height: 1.6;
    border-radius: .375rem;
    z-index: 1;
}
.header .landings .list-group .col {
    width: 50%;
}
.header .landings .list-item {
    padding: 24px 24px 0 24px;
    width: 100%;
}
.header .landings .list-item .title {
    line-height: 1.55;
    padding-bottom: .5rem;
    font-size: .75rem;
    color: #335eea;
    text-transform: uppercase;
}
.header .landings .list-item .sumary {
    padding-bottom: 7px;
}
.header .landings .list-item .sumary a {
    color: #506690;
    font-size: .9375rem;
    font-weight: 300;
}

.header .menu .btn-close {
        display: none;
    }
    .header .nav-link:hover {
        color: #335eea;
    }
    .header .page-link:hover .nav-link {
        color: #335eea;
    }
    .header .menu-btn {
        display: none;
    }
    .header .menu ul li {
        position: relative;
    }
    .header .dropdown-menu {
        padding: 20px 20px;
        border: 0 solid rgba(22,28,45,.15);
        border-radius: .375rem;
        box-shadow: 0 0.5rem 1.5rem rgba(22,28,45,.1);
        position: absolute;
        background-color: #fff;
        top: 110%;
    }
    .header .menu .form-menu {
        display: flex;
        width: 100%;
    }
    .header .landings {
        display: flex;
        width: 500%;
        padding: 0;
        display: none;
        left: 0;
        transform: translate(-40%, 0);
    }
    .header .landings .list-group {
        display: flex;
        width: 50%;
        padding: 20px 20px 20px 0;
    }
    .header .documentation-link:hover > .documentation {
        display: block;
    }
    .header .landings-link:hover > .landings {
        display: block;
        display: flex;
    }
    .header .page {
        display: flex;
        left: 0;
        transform: translate(-40%, 0);
        display: none;
    }
    .header .page .col-responsive {
        display: flex;
    }
    .header .page-link:hover > .page {
        display: block;
        display: flex;
    }
    .header .account {
        list-style-type: none;
        width: 150%;
        left: 0;
        transform: translate(-20%, 0);
        padding: 30px 0 30px 30px;
        display: none;
    }
    /* Hover menu account */
    .header .account-link:hover > .account {
        display: block;
    }
    .header .account-link:hover .nav-link {
        color: #335eea;
    }
    .header .account .menu-settings:hover .drop-settings {
        display: block;
    }
    .header .account .menu-signin:hover .drop-signin {
        display: block;
    }
    .header .account .menu-signup:hover .drop-signup {
        display: block;
    }
    .header .account .menu-pass:hover .drop-pass {
        display: block;
    }
    .header .account .menu-error:hover .drop-error {
        display: block;
    }
    .header .account .dropdown-menu2 {
        position: absolute;
        list-style-type: none;
        border: 0 solid rgba(22,28,45,.15);
        border-radius: .375rem;
        box-shadow: 0 0.5rem 1.5rem rgba(22,28,45,.1);
        background: #fff;
        padding: 30px;
        top: -30px;
        left: 100%;
        width: 100%;
    }
    .header .account .dropdown-item {
        padding-bottom: 6px;
        position: relative;
        padding-right: 30px;
    }
    .header .documentation {
        padding: 30px 20px;
        width: 200%;
        left: 0;
        transform: translate(-30%, 0);
        display: none;
    }

/* End header */


/* style bars */
#nav_bars-btn {
    width: 50px;
    height: 50px;
    color: black;
    display: none;
    position: fixed;
    right: 0;
    top: 5%;
}
/* end style bars */
#nav-input {
    /* display: none; */
}
#form-menu-mobile {
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: none;
}
.menu-list-mobile {
    position: relative;
}
li a.nav-link-mobile {
    padding: 15px 30px;
    line-height: 80px;
}
.close-tab {
    position: fixed;
    top: 2%;
    right: 2%;
}
.close-tab i {
    font-size: 1.4rem;
}
#nav-input {
  display: none;  
}
#nav-input:checked ~ .form-menu-mobile {
    display: block;
}


/* js */



/* css form  */
p#nameloc {
    color: red;
    font-size: 0.8rem;
}
p#nameloc span {
    color: green;
    font-size: 0.8rem;
}
p#emailloc {
    color: red;
    font-size: 0.8rem;
}
p#emailloc span {
    color: green;
    font-size: 0.8rem;
}
p#passwordloc {
    color: red;
    font-size: 0.8rem;
}
p#passwordloc span {
    color: green;
    font-size: 0.8rem;
}



/* slider */

.carousel {
    position: relative;
}

.icon-pre-left {
    width: 30px;
    height: 30px;
    background: blue;
    border: 1px solid blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    
    
}

.icon-pre-right {
     width: 30px;
    height: 30px;
    background: blue;
    border: 1px solid blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 0;
    transform: translate( 50%, -50%);
    position: absolute;
    
    
}

.icon-pre-left i {
    color: white;
}

.icon-pre-right i {
    color: white;
}


/* reponsive header */
.nav__mobi-link {
    color: #161c2c;
    font-size: 1.7rem;
    line-height: 2.7rem;
    padding: 2rem 0 0rem;
    color: #506690;
}
.nav__mobi-list {
   
    display: flex;
}
.nav__mobi-left {
    width: 50%;
}
.nav__mobi-title {
    color: #345eea;
    line-height: 2.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.96px;
}
.nav__mobi-detail {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    color: #506690;
}
.nav__mobi-detail {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    color: #506690;
}
.nav__mobi-title {
    color: #345eea;
    line-height: 2.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.96px;
}
.nav__mobi-detail {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    color: #506690;
}
.nav__mobi-detail {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    color: #506690;
}
.nav__mobi-right {
    width: 50%;
}
.nav__mobi-title {
    color: #345eea;
    line-height: 2.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.96px;
}
.nav__mobi-detail {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    color: #506690;
}
.nav__mobi-detail {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    color: #506690;
}
.nav__mobi-detail {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    color: #506690;
}
.nav__mobi-detail {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    color: #506690;
}
.nav__mobi-item {
    border-bottom: 1px solid #f1f4f8;
    padding-left: 2rem;
}
.nav__mobi-link {
    
    font-size: 1.7rem;
    line-height: 2.7rem;
    padding: 2rem 0 0rem;
    color: #506690;
}
.nav__mobi-list {
   
    display: flex;
}



form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}


form button {
  height: 50px;
  line-height: 30px;
  background: #42ba96;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
}
form .error {
  color: #ff0000;
}

.article-reference {
  margin-top: 15px;
}
.article-reference a {
  color: #e67e22;
}
#validate-name {
        color: #ff0000;
}
#validate-password {
        color: #ff0000;
}
.validate-success {
    color:green;
    text-align: center;
    width: 50%;
}
.login-succes {
    display: none;
}
.login-succes i {
    color: forestgreen;
    
}
#myBtn:hover {
  background-color: #555;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #FB8C00;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn i {
        font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    /* font-size: 1rem; */
    /* height: 9px; */
    /* width: 30px; */
    padding: 0 8px;
    color: #FFF3E0;
}
.validate-fail{
    color: red;
}

